.main {
  display: flex;
  justify-content: space-between;
}

.store {
  width: 100%;
}

.image_box {
  margin-bottom: 1.75rem;
}

.image_box>img {
  width: 100%;
  height: 31.25rem;
  object-fit: cover;
}

.title_grade_box {
  display: flex;
  align-items: end;
  margin-bottom: 1.2rem;
}

.title_box {
  margin-left: 0.625rem;
}


.title_box .tit {
  font-size: 2.2rem;
  color: #202020;
  font-weight: 700;
  margin-bottom: 1rem;
}

.title_box .subtitle {
  font-size: 1rem;
  color: #7e7e7e;
}

.grade {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-top: 1rem;
}

.grade>img {
  width: 1.8rem;
  height: 1.8rem;
}

.grade .point {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.point .review_point {
  color: #202020;
  font-size: 1.25rem;
  font-weight: 500;
}

.point .review_count {
  color: #9e9e9e;
}

.mobile_reservation {
  width: 100%;
  display: none;
}

.mobile_reservation>div {
  border: 1px solid #ccc;
}

/* 사이드바 */
.stickyWrap {
  width: 20rem;
  margin-left: 3rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.side_container {
  border: 1px solid #b6bdc7;
  border-radius: 1.5rem;
  padding: 0.5rem 0.3rem;
}

.side_main {
  padding: 1.5rem 1.3rem;
}

.line {
  height: 1px;
  background-color: #ccc;
}

.sideHeader {
  box-sizing: border-box;
}

/* 날짜 선택 */
.side_calendar {
  padding: 0.7rem;
}

.side_title {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
  align-items: center;
}

.side_title>img {
  width: 1.3rem;
  height: 1.3rem;
}

.side_title>h4 {
  font-size: 1.2rem;
}

.datepicker-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.datepicker-panel>ul:first-child {
  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.arrow {
  cursor: pointer;
  display: grid;
  place-items: center;
}

.arrow>img {
  width: 1rem;
  height: 1rem;
}

.datepicker-panel>ul>li.disabled {
  color: #ccc;
}

.datepicker-panel>ul>li {
  border-radius: 50%;
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  cursor: pointer;
}

.calendar {
  display: grid;
  grid-template-rows: auto auto;
  gap: 0.2rem;
  width: 100%;
}

.days {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  background-color: #F6F1EC;
  border-radius: 1rem;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.2rem;
  text-align: center;
}

.disabled {
  cursor: default;
}

.date:nth-child(7n + 1).disabled {
  color: #f8c4c4;
}

.date.disabled {
  color: #ccc;
  cursor: default;
}

.date:nth-child(7n + 1) {
  color: #ff322e;
}

.date.picked {
  background: #ff7400;
  color: #fff;
}

.date:hover {
  background-color: #F6F1EC;
}

.day,
.date {
  font-size: 0.8rem;
  margin: 0 0.1rem;
  padding: 0.3rem 0.4rem;
  cursor: pointer;
  font-weight: 700;
  border-radius: 999px;
}

/* 시간 선택 */
.side_time {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 0.7rem;
  padding: 0.3rem 0.5rem;
  height: 5rem;
}


.side_time>.time {
  border-radius: 0.5rem;
  border: 1px solid #ff7400;
  display: grid;
  place-content: center;
  width: 100%;
  font-size: 0.8rem;
  color: #ff7400;
}

.side_time>.time:hover {
  background-color: #F6F1EC;
}


.side_time>.time.picked {
  color: white;
  background-color: #ff7400;
}


/* 정보 입력 */
.side_write {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 0.3rem 0.5rem;
}

.write_item {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.write_item>p {
  font-size: 0.9rem;
  font-weight: 500;
}

/* 이름 입력 */
.input_name {
  border: 1px solid #9e9e9e;
  border-radius: 0.5rem;
  padding: 0.3rem 0.8rem;
}


.input_name> #name {
  font-size: 0.8rem;
  width: 100%;
  outline: none;
  border: none;
  padding: 0;
}

.input_name>input::placeholder {
  color: #9e9e9e;
}

.input_name:focus-within {
  border-color: #202020;
}

/* 인원수 입력 */
.headcount {
  width: 7rem;
  height: 2rem;
  display: flex;
  align-items: center;
  border: 1px solid #9e9e9e;
  border-radius: 0.5rem;
}

.headcount>button {
  height: 100%;
  flex: 1 1 0%;
  font-size: 1rem;

}

.headcount>button:hover {
  background-color: #F6F1EC;
}

.headcount>button:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: 1px solid #ccc;
}

.headcount>button:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: 1px solid #ccc;
}

.input_headcount {
  height: 100%;
  flex: 1.5 1 0%;
}

.input_headcount>input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  text-align: center;
  font-size: 0.8em;
}

.input_headcount>input::-webkit-outer-spin-button,
.input_headcount>input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 요청사항 입력 */
.input_request {
  border-radius: 0.5rem;
  border: 1px solid #9e9e9e;
  padding: 0.8rem;
  height: 5rem;
}

.input_request:focus-within {
  border-color: #202020;
}

.input_request>textarea {
  font-size: 0.8rem;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 0;
}

.input_request>textarea::placeholder {
  color: #9e9e9e;
}


/* 예약하기 버튼 */
.side_button {
  width: 100%;
  height: 3rem;
  margin: 1rem auto;
  background-color: #ff7400;
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  display: grid;
  place-content: center;
}

.side_button:hover {
  background-color: #C96208;
}


/* 가게 세부 정보 */
.info_box {
  padding: 1rem 0.7rem;
}

.info_list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.info_list>img {
  width: 1rem;
  height: 1rem;
}

.info_list>span {
  color: #1a1a1a;
}

/* 목록 선택 */
.submenu_list {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0 2rem;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

.submenu_item {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

.submenu_item:active,
.submenu_item:hover {
  color: #ff7400;
  border-bottom: 1px solid #ff7400;
}

.submenu_item.picked {
  font-weight: 700;
  color: #ff7400;
}


/* 매장 소개 */
#intro_box {
  display: none;
  padding: 0 1.5rem;
}

.intro_item {
  margin-bottom: 2rem;
}

.intro_item>h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}



/* 메뉴 리스트 */

#menu_box {
  margin: 0 auto;
  display: none;
  border: 1px solid #b6bdc7;
  border-radius: 1rem;
  padding: 2rem;
  box-sizing: border-box;
}

#menu_box>h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#menu_box>ul {
  padding: 0.5rem;
}

.menu_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.menu_list:first-child {
  margin-top: 0;
}

.menu_dots {
  flex-grow: 1;
  height: 1px;
  margin: auto 1rem;
  border-top: 1px dashed #ccc;
}

/* 리뷰  */
#review_box {
  display: none;
}

.review_header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border: 1px solid #ccc;
  padding: 1.5rem 0;
}

.review_header>img {
  width: 3rem;
  height: 3rem;
}

.review_header>div>p {
  font-size: 1.2rem;
  font-weight: 700;
}

/* 리뷰 아이템 */
.review_item {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #d8dde5;
}

.star_box {
  display: flex;
  margin: 0 0 0.2rem -0.2rem;
}

.review_user {
  color: #7e7e7e;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.review_user>#userName::after {
  content: "•";
  margin-left: 0.3rem;
  color: #ccc;
}

.review_image_box {
  width: 30rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin: 1rem 0;
}

.review_image_box>img {
  width: 10rem;
  border-radius: 1rem;
}


@media (max-width: 960px) {
  .container > .main {
    min-width: auto;
    max-width: 35rem;
  }
  .store {
    min-width: 25rem;
  }

  .image_box>img {
    width: 100%;
    height: 18.75rem;
    max-width: 35rem;
  }

  .reservation {
    display: none;
  }

  .store>.mobile_reservation {
    display: block;
    min-width: 25rem;
    max-width: 35rem;
    margin: 0 auto;
  }

  .side_main>.side_calendar {
    display: flex;
    justify-content: center;
  }

  .side_calendar>.datepicker-panel {
    width: 90%;
  }

  .side_main>.side_time {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    height: 6rem;
    max-width: 25rem;
  }

  .side_main>.side_write {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .side_write>.write_item {
    width: 90%;
  }

  .store>.submenu_list {
    margin-top: 4rem;
  }

}