.page_member_login input[type="checkbox"] + label:before,
.page_member_login input[type="radio"] + label:before {
  display: inline-block;
  position: static;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #ff7400;
  margin: 0 0.5rem 0 0;
  box-sizing: border-box;
  vertical-align: top;
}

.page_member_login input[type="checkbox"] + label:after,
.page_member_login input[type="radio"] + label:after {
  left: 0.375rem;
  margin-top: -0.25rem;
}

.page_member_login input[type="checkbox"] + label,
.page_member_login input[type="radio"] + label {
  font-size: 0.875rem;
  line-height: 170%;
  padding: 0;
  user-select: none;
}

[class*="page_member_"] .location_wrap {
  position: relative;
  width: 100%;
}

[class*="page_member_"] .location_wrap .location_cont {
  width: 78.75rem;
  margin: 0;
  text-align: right;
}

[class*="page_member_"] .location_cont em {
  display: inline-block;
  padding: 0.75rem 0 0.625rem 0;
  color: #777777;
  font-size: 0.7813rem;
}

[class*="page_member_"] .location_cont .local_home {
  color: #777777;
}

[class*="page_member_"] .location_wrap .location_cont:after {
  display: block;
  clear: both;
  content: "";
}

.page_member_login {
  padding-bottom: 3.75rem;
}

.page_member_login .content_wrap {
  display: flex;
  justify-content: center;
  padding: 3.125rem 0 0 0;
}
.page_member_login .member_wrap {
  margin: 0;
  width: 46.875rem;
  display: flex;
  gap: 2.4375rem;
}
.page_member_login .member_cont {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  border: none;
  flex-grow: 1;
}
.page_member_login .member_wrap * {
  letter-spacing: -0.05em !important;
}

.page_member_login .member_tit h2 {
  font-size: 1.625rem;
  line-height: 1.625rem;
  font-weight: 500;
  margin: 0 0 0 0;
}

.page_member_login .login_frm {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.page_member_login .member_login_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page_member_login .member_cont .member_login_box .login_input_sec {
  overflow: hidden;
}
.page_member_login .login_input_sec {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.page_member_login .member_cont .member_login_box .login_input_sec input {
  margin: 0;
  border: none;
  width: 100%;
  padding: 0 1rem;
  height: 3.5rem;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  font-size: 1rem;
  display: block;
  color: #979d9d;
}

.page_member_login .member_cont .member_login_box .id_chk {
  display: flex;
  gap: 0.75rem;
  padding: 0 0.5rem;
}
.page_member_login .member_cont .member_login_box .id_chk span {
  display: inline-block;
}
.page_member_login .member_cont .member_login_box .id_chk input {
  display: none;
}

.page_member_login .dn {
  display: none !important;
}

.page_member_login .member_cont .member_login_box .id_chk p {
  padding: 0.375rem 0 0 0;
}

.page_member_login .member_login_box button[type="submit"] {
  height: 3.5rem;
  background-color: #ff7400;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
}

.page_member_login .member_cont .btn_login_box {
  margin: 0;
  border: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  overflow: hidden;
}

.page_member_login .member_cont .btn_login_box li {
  float: none;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.page_member_login .member_cont .btn_login_box li:first-child {
  margin: 0;
}

.page_member_login .member_cont .btn_login_box button {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.875rem;
  font-weight: 400;
  color: #595959;
}

.page_member_login .member_cont .btn_login_box li:not(:last-child):after {
  content: "";
  display: block;
  width: 0.0625rem;
  height: 0.75rem;
  background-color: #d9d9d9;
}

.page_member_login .easy_login {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.page_member_login .easy_login h3 {
  font-size: 1rem;
  line-height: 170%;
  color: #595959;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: normal;
}

.page_member_login .easy_login h3:before,
.page_member_login .easy_login h3:after {
  content: "";
  display: block;
  width: 0.0625rem;
  height: 0.0625rem;
  flex-grow: 1;
  background-color: #d9d9d9;
}

.page_member_login .easy_login .sns_list {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.page_member_login .easy_login .sns_list img {
  width: 3.25rem;
  height: 3.25rem;
}

.page_member_login .member_cont .nonmember_order_box {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 0.75rem 0 0 0;
}

.page_member_login .member_cont .nonmember_order_box h3 {
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #222222;
}

.page_member_login .member_cont .nonmember_order_box .order_input_sec {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  overflow: hidden;
}

.page_member_login .member_cont .nonmember_order_box .order_input_sec > div {
  float: left;
}

.page_member_login .member_cont .nonmember_order_box .input_sec {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.page_member_login .member_cont .nonmember_order_box .input_sec input {
  margin: 0;
  border: none;
  width: 100%;
  padding: 0 1rem;
  height: 3.5rem;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  font-size: 1rem;
  display: block;
  color: #979d9d;
}

.page_member_login .member_cont .nonmember_order_box p {
  background: none;
  padding: 0;
  font-size: 0.875rem;
  line-height: 170%;
  color: #595959;
  text-align: center;
}

.page_member_login .member_cont .nonmember_order_box p {
  padding: 0 0 0 1.125rem;
  background: url(https://thenaum.cdn-nhncommerce.com/data/skin/front/moment/img/member/icon_caution.png)
    no-repeat 0 0.1875rem;
  color: #6d6d6d;
}

.page_member_login .member_cont .nonmember_order_box .order_input_sec button {
  margin: 0;
  float: none;
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #ff7400;
  color: #ff7400;
  font-size: 1.125rem;
  font-weight: 500;
}

.page_member_login .banner_cont {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page_member_login .banner_cont a {
  display: flex;
  border-radius: 1.75rem;
  overflow: hidden;
}

.page_member_login .sub_content:after {
  display: block;
  clear: both;
  content: "";
}
.page_member_join {
  margin-bottom: 3.125rem;
}
.page_member_join .content_wrap {
  width: 46.875rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.page_member_join .content_wrap .member_wrap {
  width: 25.6875rem;
  flex-shrink: 0;
  margin: 0;
}

.page_member_join .content_wrap .member_wrap .member_tit h2 {
  font-size: 1.625rem;
  line-height: 1.625rem;
  letter-spacing: -0.05em;
  font-weight: 500;
}

.page_member_join .content_wrap .member_wrap .join_tit {
  margin: 1.25rem 0 0 0;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  letter-spacing: -0.05em;
  color: #777;
}

.page_member_join .content_wrap .member_wrap .member_cont {
  padding: 1.875rem 0;
  border: none;
}

.page_member_join .content_wrap .member_wrap .member_cont .member_login_box {
  display: flex;
  flex-direction: column;
}

.page_member_join .content_wrap .member_wrap .member_cont .member_login_box a {
  flex-grow: 1;
  height: 4.0625rem;
  padding: 0 1.5625rem;
  border-radius: 0.75rem;
  border: 0.0625rem solid #e8e8e8;
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  letter-spacing: -0.05em;
  color: #555;
  justify-content: space-between;
}

.page_member_join
  .content_wrap
  .member_wrap
  .member_cont
  .member_login_box
  a
  .left {
  display: flex;
  align-items: center;
}

.page_member_join
  .content_wrap
  .member_wrap
  .member_cont
  .member_login_box
  a
  .left
  img {
  margin: 0 0.75rem 0 0;
  width: 2.1875rem;
}

.page_member_join .content_wrap .member_wrap .member_cont .member_login_box a {
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  letter-spacing: -0.05em;
  color: #555;
}

.page_member_join
  .content_wrap
  .member_wrap
  .member_cont
  .member_login_box
  a
  .right_arrow {
  width: 0.375rem;
  height: 0.6875rem;
  opacity: 0.2;
}

.page_member_join
  .content_wrap
  .member_wrap
  .member_cont
  .member_login_box
  > *:not(:first-child) {
  margin: 0.75rem 0 0 0;
}

/* 회원가입 동의 */
.page_member_join_agree .member_tit {
  overflow: hidden;
  border-bottom: 0.0625rem solid #e0e0e0;
  display: flex;
  justify-content: flex-end;
}

.page_member_join_agree .member_tit ol {
  line-height: 2.1875rem;
  display: flex;
  column-gap: 0.625rem;
}

.page_member_join_agree .member_tit ol li {
  font-size: 0.875rem;
  color: #d1d1d1;
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}

.page_member_join_agree .member_tit .page_on {
  color: #00a7b3;
}

.page_member_join_agree .member_tit2 {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  display: inline-block;
}

.page_member_join_agree .member_tit2 p {
  font-size: 3.125rem;
  color: #222222;
  letter-spacing: -0.05em;
  line-height: 1;
}

.page_member_join_agree .txt_mainco {
  color: #00a7b3 !important;
}

.page_member_join_agree .member_cont {
  width: 50%;
  min-width: 37.5rem;
  margin: 0 auto;
  border: none;
}

.page_member_join_agree .join_agreement_cont {
  padding: 0 0 2.5rem 0;
}

.page_member_join_agree .agree_all {
  background: #00a7b3;
  color: #fff;
  padding: 0.9375rem 0 0.625rem 2.5rem;
  cursor: pointer;
  text-align: left;
}

.page_member_join_agree .form_element em {
  font-weight: 400;
  cursor: pointer;
  font-size: 1.1875rem;
  line-height: 1.5625rem;
  margin-left: 0.4375rem;
}

.page_member_join_agree .form_element span {
  color: #fff;
  font-size: 0.875rem;
  display: block;
  text-align: left;
  text-indent: 2.125rem;
}

.page_member_join_agree .agreement_box {
  overflow-x: hidden;
  overflow-y: auto;
  height: 11.8125rem;
  padding: 1.25rem;
  border: 0.0625rem solid #c9c9c9;
  border-top: none !important;
  line-height: 1.125rem;
  margin-bottom: 0.3125rem;
  width: 100%;
  box-sizing: border-box;
}

.page_member_join_agree .join_agreebox_wrap {
  border: 0.0625rem solid #c9c9c9;
  border-top: none !important;
  padding: 1.1875rem 2.5rem 1.375rem 2.5rem;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.page_member_join_agree .join_agreebox_wrap .agree_left {
  float: left;
  width: 100%;
  display: block;
}

.page_member_join_agree .join_certify_list .form_element {
  font-size: 1.125rem;
}
.page_member_join_agree .join_certify_list .form_element p {
  font-size: 0.9375rem;
  text-align: left;
  padding-left: 1.75rem;
}

.page_member_join_agree .join_agreebox_wrap .form_element {
  border-bottom: 0.0625rem solid #c9c9c9;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.02em;
  height: 3.8125rem;
  width: 100%;
  line-height: 3.5625rem;
  display: inline-block;
}

.page_member_join_agree .join_agreebox_wrap .form_element label.check_s {
  background-position: 0.0625rem 1.2813rem;
}
.page_member_join_agree .join_agreebox_wrap .form_element strong {
  font-weight: 400;
}

.page_member_join_agree .join_agreebox_wrap .form_element span > a {
  border: 0.0625rem solid #c9c9c9;
  border-radius: 0.3125rem;
  width: 5.0625rem;
  height: 1.8125rem;
  padding: 0.375rem 0.625rem 0.375rem 0.625rem;
  margin: 0.9375rem 0.6875rem 0 0;
  font-size: 0.875rem;
  color: #222;
  text-decoration: none !important;
}

.page_member_join_agree
  .join_agreement_cont
  .agreement_choice_box
  .form_element {
  border-bottom: none;
  text-align: inherit;
}

.page_member_join_agree
  .join_agreebox_wrap
  .form_element
  .agreenment_toggle_btn {
  background: url(https://thenaum.cdn-nhncommerce.com/data/skin/front/moment/img/member/join_chosen_sprite.png)
    no-repeat 0.4375rem 0.4375rem;
  border: 0.0625rem solid #c9c9c9;
  border-radius: 0.3125rem;
  width: 1.8125rem;
  height: 1.8125rem;
  padding: 0;
  margin: 0.9375rem 0 0 0;
  cursor: pointer;
}

.page_member_join_agree .join_agreement_box table {
  width: 100%;
}

.page_member_join_agree .join_agreement_box table th {
  padding: 1.25rem 0;
  border-left: 0.0625rem solid #dcdcdc;
  background: #fbfbfb;
}

.page_member_join_agree .join_agreement_box table th:first-child,
.page_member_join_agree .join_agreement_box table td:first-child {
  border-left: none;
}

.page_member_join_agree .join_agreement_box table td {
  padding: 1.25rem 0 1.25rem 0.625rem;
  border-top: 0.0625rem solid #dcdcdc;
  border-left: 0.0625rem solid #dcdcdc;
  border-bottom: 0.0625rem solid #dcdcdc;
}

.page_member_join_agree .join_agreement_cont .agreement_choice_box table {
  width: 100%;
}

.page_member_join_agree .join_agreement_cont .agreement_choice_box table th {
  padding: 1.25rem 0;
  border-left: 0.0625rem solid #dcdcdc;
  background: #fbfbfb;
}

.page_member_join_agree
  .join_agreement_cont
  .agreement_choice_box
  table
  th:first-child,
.page_member_join_agree
  .join_agreement_cont
  .agreement_choice_box
  table
  td:first-child {
  border-left: none;
}

.page_member_join_agree .join_agreement_cont .agreement_choice_box table td {
  padding: 1.25rem 0 1.25rem 0.625rem;
  border-top: 0.0625rem solid #dcdcdc;
  border-left: 0.0625rem solid #dcdcdc;
  border-bottom: 0.0625rem solid #dcdcdc;
}

.page_member_join_agree .join_certify_box {
  margin: 1.875rem 0 0 0;
}

.page_member_join_agree .join_certify_box h3 {
  font-weight: bold;
  padding: 0 0 0.5625rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.page_member_join_agree .join_certify_list {
  padding: 1.875rem 0;
  border: 0.0625rem solid #c9c9c9;
}

.page_member_join_agree .join_certify_list ul {
  text-align: center;
}

.page_member_join_agree .join_certify_list li {
  display: inline-block;
}

.page_member_join_agree .join_certify_list .phone_join_certify {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.page_member_join_agree .join_certify_list .phone_join_certify .form_element {
  text-align: left;
}

.page_member_join_agree .join_certify_list .phone_join_certify li {
  display: flex;
}

.page_member_join_agree .join_certify_list .form_element label.choice_s {
  padding: 0 0 0 1.75rem;
  background: url(https://thenaum.cdn-nhncommerce.com/data/skin/front/moment/img/common/input/radio_off_small.png)
    no-repeat 0.0625rem 50%;
}

.page_member_join_agree .btn_member_prev {
  font-size: 18px;
  font-weight: 400;
  width: 216px;
  height: 51px;
  margin: 0;
  color: #00a7b3;
  border: 1px solid #00a7b3;
  background: #ffffff;
  cursor: pointer;
}

.page_member_join_agree .btn_center_box {
  margin: 35px 0 0 0;
}

.page_member_join_agree .btn_member_next {
  font-size: 18px;
  font-weight: 400;
  width: 216px;
  height: 51px;
  margin: 0;
  border: 1px solid #00a7b3;
  background: #00a7b3;
  cursor: pointer;
  color: #fff;
}

/* 회원가입 완료 */
.page_member_join_ok .join_ok_wrap {
  width: 31.25rem;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
}
.page_member_join_ok .join_ok {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page_member_join_ok .join_ok_wrap * {
  letter-spacing: -0.05em;
}

.page_member_join_ok .join_ok h5 {
  margin: 0.625rem 0 0 0;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 500;
}

.page_member_join_ok .join_ok h6 {
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #555;
  font-weight: 400;
}

.page_member_join_ok .busi_wrap {
  margin: 2.5rem 0 0 0;
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid #e8e8e8;
  border-radius: 0.75rem;
  padding: 1.5625rem;
}

.page_member_join_ok .busi_wrap strong {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.page_member_join_ok .busi_wrap ul {
  margin: 1.875rem 0 0 0;
  display: flex;
  flex-direction: column;
}

.page_member_join_ok .busi_wrap li {
  display: flex;
}

.page_member_join_ok .busi_wrap li .img {
  width: 4.375rem;
  height: 4.375rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background-color: rgba(0, 167, 179, 0.1);
  margin: 0 0.9375rem 0 0;
}

.page_member_join_ok .busi_wrap li dl {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.page_member_join_ok .busi_wrap li dt {
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 500;
  color: #00a7b3;
}

.page_member_join_ok .busi_wrap li dd {
  margin: 0.625rem 0 0 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #555;
}

.page_member_join_ok .busi_wrap li:not(:first-child) {
  margin: 1.25rem 0 0 0;
}

.page_member_join_ok .busi_wrap .btn_busi_up {
  margin: 1.875rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00a7b3;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  height: 3.5rem;
}
