/* 전체적인 레이아웃 스타일 */


/* 폼 스타일 */
form {
    background-color: white;
    padding: 30px;
}

/* 필드셋 및 레전드 스타일 */
fieldset {
    border:none;
}

.insert_store_info{
    font-size: 30px;
    font-weight: 800;
    margin: 0 0 30px;
}
.form-group{
    margin: 0 0 20px;
}
/* 각 폼 그룹 스타일 */
.button_group {
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* 라벨 스타일 */
label {
    display: block;
    margin: 0 0 0 2px;
    font-size: 14px;
    margin-bottom: 8px;
}

/* 입력 필드 스타일 */
input[type="text"],
input[type="tel"],
input[type="file"]{
    font-size: 16px;
    height: 54px !important;
    border: 1px solid #E8E8E8;
    padding: 0 8px;
    border-radius: 8px;
    background-color: #fff;
    margin: 0 !important;
    font-weight: 400;
    color: #333;
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
}
select{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
}

.store_image { 
    display: flex;
    justify-content: center; /* 수평으로 가운데 정렬 */
    align-items: center; /* 세로로 가운데 정렬 */
    height: 100%; /* 필요한 높이 설정 */
}

textarea{
    width: 100%;
    height: 200px; 
    padding: 10px !important;
    font-size: 16px !important;
    border: 1px solid #ccc;
    font-weight: 400;
    border-radius: 4px;
    margin-bottom: 8px;
    box-sizing: border-box;
    overflow-y: auto;  
    resize: none; 
}

input[type="file"] {
    padding: 5px;
}

/* 버튼 스타일 */
.cancel_store {
    font-size: 14px;
    font-weight: 400;
    width: 216px;
    height: 51px;
    border: 1px solid #00a7b3;
}

.submit_store {
    font-size: 14px;
    font-weight: 400;
    width: 216px;
    height: 51px;
    color: #ffffff;
    border: 1px solid #00a7b3;
    background: #00a7b3;
}

/* 작은 안내문 스타일 */
p {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}

.insert_store_box {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}
