.profile {
    border: 1px solid #E8E8E8;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.profile dl {
    display: flex;
}

.profile dl:not(:last-child) {
    margin: 0 0 15px;
}
.profile dt {
    font-size: 14px;
    color: #777;
    font-weight: 400;
    flex-basis: 80px;
}
.profile strong {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 20px;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.join_common {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.join_common h3 {
    display: block;
    border-bottom: 1px solid #555;
    padding: 0 0 18px;
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-color: gray;
}
td {
    vertical-align: inherit;
    unicode-bidi: isolate;
}

.join_common table {
    width: 100%;
    border-spacing: 0;
}

.join_common table td {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    gap: 10px;
}

.join_common table input[type="text"], .join_common table input[type="password"]{
    font-size: 16px;
    height: 54px;
    border: 1px solid #E8E8E8;
    padding: 0 18px;
    border-radius: 8px;
    background-color: #fff;
    margin: 0 !important;
    font-weight: 400;
    color: #333;
    flex-grow: 1;
    box-sizing : border-box;
    width: 100%;   
}



.join_common table .member_warning {
    display: flex !important
;
    gap: 10px;
    flex-wrap: wrap;
}

#wrap .ly_wrap.pw_advice_layer {
    width: 394px;
    top: 0px;
    left: 118px;
}

#contents .member_address .address_postcode .btn_post_search {
    height: 54px;
    border-radius: 8px;
    padding: 0 18px;
    font-size: 16px;
    color: #00a7b3;
    box-shadow: none;
    display: flex
;
    align-items: center;
    border: 1px solid #00a7b3;
    flex-shrink: 0;
}

#contents .member_address .address_postcode {
    display: flex;
    gap: 10px;
}

#contents .member_address .address_input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.mypage_wrap .mypage_cont .join_base_wrap .btn_center_box {
    margin: 60px 0 0 0;
}

.join_base_wrap .btn_center_box button {
    font-size: 18px;
    font-weight: 400;
    width: 216px;
    height: 51px;
}
.btn_member_cancel{
    border: 1px solid #00a7b3;
    background: #fff;
    cursor: pointer;
}
.btn_comfirm{
    color: #ffffff;
    border: 1px solid #00a7b3;
    background: #00a7b3;
    cursor: pointer;
}
.btn_member_out{
    color: #F33;
    border: 1px solid #F33;
    background: #fff;
    cursor: pointer;
}



.join_common table .member_email .member_warning input[type="text"] {
    width: 0;
}

.join_common table .member_email {
    display: flex;
    gap: 10px;
    flex-direction: column;
}




.join_common table .chosen-single span {
    line-height: 54px;
}

.chosen-select {
    border-radius: 8px;
    font-size: 16px;
}